[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
easydict = "==1.9"
ipdb = "==0.13.3"
pyflakes = "==2.2.0"
pyyaml = "==5.3.1"
tqdm = "==4.46.0"
scikit-learn = ">=1.0.2"
pickle5 = "*"
matplotlib = "*"
tokenizers = ">=0.10.2"
ftfy = "*"
regex = "*"
datadings = "*"
pycocotools = "*"
clip = {editable = true, git = "https://github.com/openai/CLIP.git"}
numpy = "==1.23.5"
protobuf = "==3.20.3"
omegaconf = "*"
lmdb = "*"
wandb = "*"
tensorboard = "*"

[dev-packages]

[requires]
python_version = "3.10"
